
$blue:(
  dark:      #001e54,
  main:      #1f346b,
  bright:    #3B559A,
  highlight: #7E96D5,
  superlight: #B4C2E9
);

$yellow:   (
  dark:      #d7be25,
  main:      #ffe85c,
  bright:    #ffffff,
  highlight: #ffffff
);

$green:(
  dark:      #07633B,
  main:      #029555,
  bright:    #1bc37a,
  highlight: #ffffff
);

$tan:  (
  dark:      #39351b,
  main:      #988f78,
  mid:       #CABD9C,
  bright:    #dddac7,
  light:     #F3F2E8,
  highlight: #eceade
);

$grey:  (
  dark:      #39351b,
  main:      #8f864f,
  bright:    #dddac7,
  highlight: #eceade
);

$indicators: (
  danger: #FF3A0F,
  alert: #E89602,
  success: #189A77
);

$white          : #fff;
$black          : #000;

// Base color variables.
$link           : #3B559A;
$visited        : #3B559A;
$selection-bg   : #ffe85c;
$selection      : $black;
