
$blue:(
  dark:      #43668c,
  main:      #81a2c5,
  bright:    #a4b8ce,
  highlight: #ccd9e8,
  superlight: #eaedf1
);

$green:(
  dark:      #7b8e2d,
  main:      #97a94c,
  bright:    #b8c389,
  highlight: #e3eac2
);

$tan:  (
  dark:      #39351b,
  main:      #988f78,
  mid:       #CABD9C,
  bright:    #dddac7,
  light:     #F3F2E8,
  highlight: #eceade
);

$lime: (
  light: #eff7c5,
  dark: #d0de89,
  bright: #f7fbe2
);

$indicators: (
  danger: #FF3A0F,
  alert: #E89602,
  success: #189A77
);

$white          : #fff;
$black          : #000;

// Base color variables.
$link           : #3B559A;
$visited        : #3B559A;
$selection-bg   : #ffe85c;
$selection      : $black;
