.extra-space {
  &.vertical {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  &.horizontal {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.no-space {
  &.vertical {
    margin-top: 0;
    margin-bottom: 0;
  }
  &.horizontal {
    margin-left: 0;
    margin-right: 0;
  }
}
