// The amount lists, blockquotes and comments are indented.
$indent-amount: 2em;

$breakpoint-no-queries:         false !default;
$breakpoint-no-query-fallbacks: true  !default;
$breakpoint-to-ems:             true;

$breakpoints: add-breakpoint('xs', max-width 767px);
$breakpoints: add-breakpoint('sm', (min-width 768px) and (max-width 991px));
$breakpoints: add-breakpoint('md', (min-width 992px) and (max-width 1199px));
$breakpoints: add-breakpoint('lg', (min-width 1200px));
