<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index">Open Space Preservation</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li{% if page.slug == 'about' %} class="active" {% endif %}><a href="about">About</a></li>
          <li{% if page.slug == 'faq' %} class="active" {% endif %}><a href="faq">Questions</a></li>
          {% comment %}
            <li{% if page.slug == 'endorsements' %} class="active" {% endif %}><a href="endorsements">Endorsements</a></li>
          {% endcomment %}
          <li{% if page.slug == 'donate' %} class="active" {% endif %}><a href="donate">Donate</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
