<button type="button" class="btn btn-blue btn-block" data-toggle="modal" data-target="#mail-form-modal">
  Join our mailing list
</button>
{% include mail-form.html %}
{% for action in site.data.cta %}
  <div class="call-to-action extra-space vertical">
    <a href="{{ action.data['call-to-action.link'].value }}">
      <img src="{{ action.data['call-to-action.image'].value.main.url }}" alt="{{ action.data['call-to-action.tagline'].value }}" class="action-image">
    </a>
    <a href="{{ action.data['call-to-action.link'].value }}" class="btn btn-lg btn-block btn-lime">
      {{ action.data['call-to-action.tagline'].value }}
    </a>
    {% comment %}<p>{{ action.data['call-to-action.label'].value }}</p>{% endcomment %}
  </div>
{% endfor %}
