a.btn, button.btn {
  &.btn-lime {
    background: color($lime, 'dark');
    color: color($tan, 'dark');
  }

  &.btn-blue {
    background: color($blue, 'dark');
    color: $white;
  }

  &.btn-campaign-green {
    background: $campaign-green;
    color: $white;
  }

  &.btn-campaign-blue {
    background: $campaign-blue;
    color: $white;
  }
}
