header {
  font-family: $helvetica;
  nav.navbar {
    margin-bottom: 0;
    background: color($blue, 'dark');
    border-bottom: color($blue, 'main');
    .navbar-nav>li>a {
      color: $white;
    }
    .navbar-toggle .icon-bar {
      background: $white;
    }
    .navbar-toggle {
      border: 0;
      &:hover, &:focus {
        background: none;
      }
    }

    .navbar-nav>.active>a, {
      background: color($lime, 'dark');
    }
    .navbar-brand {
      color: $white;
      font-family: $gothic-font;
      &:hover {
        color: color($lime, 'main');
      }
    }
  }
  a {
    text-decoration: none;
  }
}
