.section {
  margin: 15px 0;
  padding: 15px 0;
  &.action-primary {
    background: color($blue, 'dark');
    color: $white;
    a {
      color: $white;
    }
  }
  &.action-secondary {
    background: color($lime, 'dark');
    color: color($tan, 'dark');
  }
  &.no-bottom {
    margin-bottom: 0;
  }
  .action-image {
    margin-bottom: 15px;
  }
  @include respond-to('md') {
    .btn-block {
      margin-bottom: 15px;
    }
  }
}
