.section {
  margin: 15px 0;
  padding: 15px 0;

  &.no-bottom {
    margin-bottom: 0;
  }
  &.no-top {
    margin-top: 0;
  }
  .action-image {
    margin-bottom: 15px;
  }
  @include respond-to('md') {
    .btn-block {
      margin-bottom: 15px;
    }
  }
}
