---
layout: page
---

{{ content }}

<div class="row">
  {% for endorsement in site.data.endorsements %}
    {% if endorsement.Featured %}
    {% cycle '', '', '', '', '</div><div class="row">' %}
      <div class="col-sm-3">
        {% if endorsement.Headshot %}
          <a href="/endorsement/{{ endorsement.Slug }}" class="thumbnail">
            <img src="{{ endorsement.Headshot[0]url }}" alt=""/>
          </a>
        {% endif %}
        <h4>
          <a href="/endorsement/{{ endorsement.Slug }}"/>
            {{ endorsement['First name'] }} {{ endorsement['Last name'] }}
          </a>
        </h4>
        {% if endorsement.Title %}
        <p>
          <em>
            {{ endorsement.Title }}
          </em>
        </p>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
</div>
<h2>Elected officials</h2>
  <ul>
    {% for endorsement in site.data.endorsements %}
      {% if endorsement.Type == "Local official" %}
      <li>
        <a href="/endorsement/{{ endorsement.Slug }}"/>
          {{ endorsement['First name'] }} {{ endorsement['Last name'] }}
        </a>
        {% if endorsement.Title %}
        - <em>
            {{ endorsement.Title }}
        </em>
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
<h2>Local leaders</h2>
<ul>
  {% for endorsement in site.data.endorsements %}
    {% if endorsement.Type == "Local leader" %}
    <li>
      <a href="/endorsement/{{ endorsement.Slug }}"/>
        {{ endorsement['First name'] }} {{ endorsement['Last name'] }}
      </a>
      {% if endorsement.Title %}
      - <em>
          {{ endorsement.Title }}
      </em>
      {% endif %}
    </li>
    {% endif %}
  {% endfor %}
</ul>
<h2>Citizens</h2>
<ul>
  {% for endorsement in site.data.endorsements %}
    {% if endorsement.Type == "Citizen" %}
    <li>
      <a href="/endorsement/{{ endorsement.Slug }}"/>
        {{ endorsement['First name'] }} {{ endorsement['Last name'] }}
      </a>
      {% if endorsement.Title %}
      - <em>
          {{ endorsement.Title }}
      </em>
      {% endif %}
    </li>
    {% endif %}
  {% endfor %}
</ul>
