---
layout: page
---

{{ content }}
<blockquote>
  "Measure E is a good deal, and we enthusiastically endorse a yes vote."
  <footer>
    <cite><a href="http://www.montereyherald.com/article/NF/20160928/LOCAL1/160929512">Monterey Herald</a></cite>
  </footer>
</blockquote>
<div class="row">
  {% for endorsement in site.data.endorsements %}
    {% if endorsement.Featured %}
      {% if endorsement.Type == "Federal official" %}
        {% cycle 'people': '', '', '', '', '</div><div class="row">' %}
        <div class="col-sm-3">
          {% if endorsement.Headshot %}
            <a href="/endorsement/{{ endorsement.Slug }}" class="thumbnail">
              <img src="{{ endorsement.Headshot[0].thumbnails.large.url }}" alt=""/>
            </a>
          {% endif %}
          <h4>
            <a href="/endorsement/{{ endorsement.Slug }}"/>
              {{ endorsement['First name'] }} {{ endorsement['Last name'] }}
            </a>
          </h4>
          {% if endorsement.Title %}
          <p>
            <em>
              {{ endorsement.Title }}
            </em>
          </p>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% for endorsement in site.data.endorsements %}
    {% if endorsement.Featured %}
      {% if endorsement.Type == "State official" %}
        {% cycle 'people': '', '', '', '', '</div><div class="row">' %}
        <div class="col-sm-3">
          {% if endorsement.Headshot %}
            <a href="/endorsement/{{ endorsement.Slug }}" class="thumbnail">
              <img src="{{ endorsement.Headshot[0].thumbnails.large.url }}" alt=""/>
            </a>
          {% endif %}
          <h4>
            <a href="/endorsement/{{ endorsement.Slug }}"/>
              {{ endorsement['First name'] }} {{ endorsement['Last name'] }}
            </a>
          </h4>
          {% if endorsement.Title %}
          <p>
            <em>
              {{ endorsement.Title }}
            </em>
          </p>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% for endorsement in site.data.endorsements %}
    {% if endorsement.Featured %}
      {% if endorsement.Type == "Local official" %}
        {% cycle 'people': '', '', '', '', '</div><div class="row">' %}
        <div class="col-sm-3">
          {% if endorsement.Headshot %}
            <a href="/endorsement/{{ endorsement.Slug }}" class="thumbnail">
              <img src="{{ endorsement.Headshot[0].thumbnails.large.url }}" alt=""/>
            </a>
          {% endif %}
          <h4>
            <a href="/endorsement/{{ endorsement.Slug }}"/>
              {{ endorsement['First name'] }} {{ endorsement['Last name'] }}
            </a>
          </h4>
          {% if endorsement.Title %}
          <p>
            <em>
              {{ endorsement.Title }}
            </em>
          </p>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
<div class="row">
  {% for endorsement in site.data.org_endorsements %}
    {% if endorsement.Featured %}
    {% cycle 'orgs': '', '', '', '', '</div><div class="row">' %}
      <div class="col-sm-3">
        {% if endorsement.Logo %}
          <a href="/endorsement/{{ endorsement.Slug }}" class="thumbnail">
            <img src="{{ endorsement.Logo[0]url }}" alt=""/>
          </a>
        {% endif %}
        <h4>
          <a href="/endorsement/{{ endorsement.Slug }}"/>
            {{ endorsement.Name }}
          </a>
        </h4>
      </div>
    {% endif %}
  {% endfor %}
</div>
<h2>Elected officials</h2>
  <ul>
    {% for endorsement in site.data.endorsements %}
      {% if endorsement.Type == "Federal official" %}
      <li>
        <a href="/endorsement/{{ endorsement.Slug }}"/>
          {{ endorsement['First name'] }} {{ endorsement['Last name'] }}
        </a>
        {% if endorsement.Title %}
        - <em>
            {{ endorsement.Title }}
        </em>
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
    {% for endorsement in site.data.endorsements %}
      {% if endorsement.Type == "State official" %}
      <li>
        <a href="/endorsement/{{ endorsement.Slug }}"/>
          {{ endorsement['First name'] }} {{ endorsement['Last name'] }}
        </a>
        {% if endorsement.Title %}
        - <em>
            {{ endorsement.Title }}
        </em>
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
    {% for endorsement in site.data.endorsements %}
      {% if endorsement.Type == "Local official" %}
      <li>
        <a href="/endorsement/{{ endorsement.Slug }}"/>
          {{ endorsement['First name'] }} {{ endorsement['Last name'] }}
        </a>
        {% if endorsement.Title %}
        - <em>
            {{ endorsement.Title }}
        </em>
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
<h2>Community organizations</h2>
  <ul>
    {% for endorsement in site.data.org_endorsements %}
      {%if endorsement.Name %}
        <li>
          <a href="/endorsement/{{ endorsement.Slug }}"/>
            {{ endorsement.Name }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
<h2>Community leaders</h2>
<ul>
  {% for endorsement in site.data.endorsements %}
    {% if endorsement.Type == "Local leader" %}
    <li>
      <a href="/endorsement/{{ endorsement.Slug }}"/>
        {{ endorsement['First name'] }} {{ endorsement['Last name'] }}
      </a>
      {% if endorsement.Title %}
      - <em>
          {{ endorsement.Title }}
      </em>
      {% endif %}
    </li>
    {% endif %}
  {% endfor %}
</ul>
<ul>
  {% for endorsement in site.data.endorsements %}
    {% if endorsement.Type == "Citizen" %}
    <li>
      <a href="/endorsement/{{ endorsement.Slug }}"/>
        {{ endorsement['First name'] }} {{ endorsement['Last name'] }}
      </a>
      {% if endorsement.Title %}
      - <em>
          {{ endorsement.Title }}
      </em>
      {% endif %}
    </li>
    {% endif %}
  {% endfor %}
</ul>
