---
layout: page
---

{{ content }}

<div class="row">
  {% for endorsement in site.data.endorsements %}
    {% if endorsement.data['endorsement.featured'].value == 'yes' %}
    {% cycle '', '', '</div><div class="row">' %}
      <div class="col-md-3">
        <img src="{{ endorsement.data['endorsement.image'].value.main.url }}" alt=""/>
        <h4>
          {{ endorsement.data['endorsement.firstName'].value }} {{ endorsement.data['endorsement.lastName'].value }}
        </h4>
        {% if endorsement.data['endorsement.quote'].value %}
          <p class="endorsement-quote">{{ endorsement.data['endorsement.quote'].value }}
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
</div>

<h2>All endorsements</h2>
<ul>
  {% for endorsement in site.data.endorsements %}
    <li>
      {{ endorsement.data['endorsement.firstName'].value }} {{ endorsement.data['endorsement.lastName'].value }}
    </li>
  {% endfor %}
</ul>

<p><em>Titles are for identification purposes only.</em></p>
