---
layout: html
title: Citizens for Parks &amp; Open Spaces
---
{% include header.html %}
{% if page.pageData.hero %}
  <div class="hero-image hidden-sm hidden-xs" style="background-image: url('{{ page.pageData.hero.value.main.url}}');">
    <div class="hero-title">
      <div class="container">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <div class="hero-image visible-sm visible-xs" style="background-image: url('{{ page.pageData.heroMobile.value.main.url}}');">
    <div class="hero-title">
      <div class="container">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>
{% endif %}
<div class="container content" id="main-content">
  <div class="row">
    <div class="col-md-9">
      <div class="well" style="background-image: url(http://kevee.org/watercolor.jpg);">
        <a href="/phonebanking" style="text-decoration: none;">
          <h3 style="margin: 0; padding: 0; text-decoration: none; color: #486526;">
            Help pass Measure E by participating in a phone bank
          </h3>
        </a>
      </div>
      <blockquote>
        "Measure E is a good deal, and we enthusiastically endorse a yes vote."
        <footer>
          <cite><a href="http://www.montereyherald.com/article/NF/20160928/LOCAL1/160929512">Monterey Herald</a></cite>
        </footer>
      </blockquote>

      <blockquote>
        "One of the [park] district’s jobs is to protect prime land in a place with some of the highest property values on Earth. Another is to create access to this property, keeping the trails clear and safe. It’s no small feat."
        <footer>
          <cite><a href="http://www.montereycountyweekly.com/news/cover/weekly-endorsements-on-ballot-measures/article_95937cb6-8b3a-11e6-9c1e-4fb406cc0cb5.html">Monterey County Weekly</a></cite>
        </footer>
      </blockquote>
      {{ content }}
    </div>
    <div class="col-md-3">
      {% include call-to-action.html %}
    </div>
  </div>
</div>
{% comment %}
<div class="container">
  <h3><a href="endorsements">Endorsements</a></h3>
  <div class="row">
    {% for endorsement in site.data.endorsements %}
      {% if endorsement.data['endorsement.featured'].value == 'yes' %}
      {% cycle '', '', '</div><div class="row">' %}
        <div class="col-md-3">
          <img src="{{ endorsement.data['endorsement.image'].value.main.url }}" alt=""/>
          <h4>
            {{ endorsement.data['endorsement.firstName'].value }} {{ endorsement.data['endorsement.lastName'].value }}
          </h4>
          {% if endorsement.data['endorsement.quote'].value %}
            <p class="endorsement-quote">{{ endorsement.data['endorsement.quote'].value }}
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endcomment %}
<div class="container">
  <h2>Vote YES to protect these local spaces</h2>
</div>
<div id="map"></div>
<div class="modal fade" tabindex="-1" role="dialog" id="map-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="container">
  <div class="row extra-space vertical">
    {% for info in page.pageData.info.value %}
      <div class="col-md-4">
        <a href="{{ info.link.value }}" class="btn btn-lg btn-block btn-blue extra-space vertical">
          {{ info.tagline.value }}
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% include footer.html %}
