---
layout: html
---
{% include header.html %}
<div class="container" id="content">
  {{ content }}
  <div class="row">
    <div class="col-md-4">
      <a href="volunteer" class="btn btn-lg btn-block btn-primary">Sign up</a>
      <p>Get more involved as a volunteer.</p>
    </div>
    <div class="col-md-4">
      <a href="volunteer" class="btn btn-lg btn-block btn-primary">Endorse</a>
      <p>Add your name to the growing list of public supporters.</p>
    </div>
    <div class="col-md-4">
      <a href="volunteer" class="btn btn-lg btn-block btn-primary">Donate</a>
      <p>Help our grassroots campaign grow.</p>
    </div>
  </div>
</div>
{% include footer.html %}
