---
layout: html
---
{% include header.html %}
{% if page.pageData.hero.value[0].heroImage %}
<div class="hero-image hidden-xs hidden-sm" style="background-image: url('{{ page.pageData.hero.value[0].heroImage.value.main.url}}');">
  <div class="hero-title">
    <div class="container">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
</div>
<div class="hero-image visible-xs visible-sm" style="background-image: url('{{ page.pageData.hero.value[0].heroImageMobile.value.main.url}}');">
  <div class="hero-title">
    <div class="container">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
</div>
<div class="container content" id="main-content">
{% else %}
<div class="container content" id="main-content">
  <div class="page-title">
    <h1>{{ page.title }}</h1>
  </div>
{% endif %}
  <div class="row">
    <div class="col-md-9">
      {{ content }}
      <h2>Join the phone banks on Facebook</h2>
      <h4><a href="https://www.facebook.com/events/192580371151456/">October 13</a></h4>
      <h4><a href="https://www.facebook.com/events/1792613117649451/">October 20</a></h4>
      <h4><a href="https://www.facebook.com/events/1807725266137842/">October 27</a></h4>
      <h4><a href="https://www.facebook.com/events/1139949369429992/">November 3</a></h4>

    </div>
    <div class="col-md-3">
      {% include call-to-action.html %}
    </div>
  </div>
</div>
{% include footer.html %}
