---
layout: page
---

{{ content }}
<div class="row">
  <div class="col-md-6">
    <h4>Donate online</h4>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="4CPQ84XVLWG9N">
      <input type="image" src="http://kevee.org/donate-button.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    <p>We accept donations via PayPal. If you do not have a PayPal account, click the <strong>Continue</strong> link under the heading <strong>Don't have a PayPal account?</strong>.</p>
  </div>
  <div class="col-md-6">
    <h4>Donate by check</h4>
    <strong>Please make checks payable to: </strong>
    <address>
      Citizens for Parks and Open Space Preservation <br/>
      26515 Carmel Rancho Blvd.<br/>
      Suite 100<br/>
      Carmel, CA &nbsp;93923<br/>
    </address>
  </div>
</div>
