---
layout: html
---
{% include header.html %}
<div class="container content" id="main-content">
  {{ content }}
</div>
<div class="section homepage-section no-bottom action action-primary">
  <div class="container content">
    <div class="row">
      {% for action in page.pageData.actions.value %}
        <div class="col-md-4">
          <a href="{{ action.link.value }}">
            <img src="{{ action.image.value.main.url }}" alt="{{ action.tagline.value }}">
          </a>
          <a href="{{ action.link.value }}" class="btn btn-lg btn-block btn-lime">
            {{ action.tagline.value }}
          </a>
          <p>{{ action.label.value }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="section no-space vertical homepage-section action action-secondary">
  <div class="container content">
    <div class="row">
      {% for info in page.pageData.info.value %}
        <div class="col-md-4">
          <a href="{{ info.link.value }}" class="btn btn-lg btn-block btn-blue">
            {{ info.tagline.value }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% include footer.html %}
