---
layout: html
title: Citizens for Parks &amp; Open Spaces
---
{% include header.html %}
{% if page.pageData.hero %}
  <div class="hero-image" style="background-image: url('{{ page.pageData.hero.value[0].heroImage.value.main.url}}');">
    <div class="hero-title">
      <div class="container">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>
{% endif %}
<div class="container content" id="main-content">
  <div class="row">
    <div class="col-md-9">
      {{ content }}
    </div>
    <div class="col-md-3 subtract-top">

      <div id="map"></div>
    </div>
  </div>
</div>
<div class="section homepage-section no-bottom action action-primary">
  <div class="container content">
    <div class="row">
      {% for action in page.pageData.actions.value %}
        <div class="col-md-4">
          <a href="{{ action.link.value }}">
            <img src="{{ action.image.value.main.url }}" alt="{{ action.tagline.value }}" class="action-image">
          </a>
          <a href="{{ action.link.value }}" class="btn btn-lg btn-block btn-lime">
            {{ action.tagline.value }}
          </a>
          <p>{{ action.label.value }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="section no-space vertical homepage-section action action-secondary">
  <div class="container content">
    <div class="row">
      {% for info in page.pageData.info.value %}
        <div class="col-md-4">
          <a href="{{ info.link.value }}" class="btn btn-lg btn-block btn-blue">
            {{ info.tagline.value }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% comment %}
<div class="container">
  <h3><a href="endorsements">Endorsements</a></h3>
  <div class="row">
    {% for endorsement in site.data.endorsements %}
      {% if endorsement.data['endorsement.featured'].value == 'yes' %}
      {% cycle '', '', '</div><div class="row">' %}
        <div class="col-md-3">
          <img src="{{ endorsement.data['endorsement.image'].value.main.url }}" alt=""/>
          <h4>
            {{ endorsement.data['endorsement.firstName'].value }} {{ endorsement.data['endorsement.lastName'].value }}
          </h4>
          {% if endorsement.data['endorsement.quote'].value %}
            <p class="endorsement-quote">{{ endorsement.data['endorsement.quote'].value }}
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endcomment %}
<div class="modal fade" tabindex="-1" role="dialog" id="map-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% include footer.html %}
