---
layout: html
---
{% include header.html %}
<div id="content">
{% for section in page.pageData.homepageContent.value %}
<div class="homepage-content-section" style="background-image: url({{ section.image.value.main.url}});">
  <div class="homepage-content-section-overlay" style="background-color: {{ section.overlayColor.value }};">
    <div class="container">
      {% if section.headline.value %}
        <h3>{{ section.headline.value }}</h3>
      {% endif %}
      {{ section.text }}
    </div>
  </div>
</div>
{% endfor %}
<div class="section homepage-section no-bottom action action-primary">
  <div class="container content">
    <div class="row">
      {% for action in page.pageData.actions.value %}
        <div class="col-md-4">
          <a href="{{ action.link.value }}">
            <img src="{{ action.image.value.main.url }}" alt="{{ action.tagline.value }}">
          </a>
          <a href="{{ action.link.value }}" class="btn btn-lg btn-block btn-lime">
            {{ action.tagline.value }}
          </a>
          <p>{{ action.label.value }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="section no-space vertical homepage-section action action-secondary">
  <div class="container content">
    <div class="row">
      {% for info in page.pageData.info.value %}
        <div class="col-md-4">
          <a href="{{ info.link.value }}" class="btn btn-lg btn-block btn-blue">
            {{ info.tagline.value }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

</div>
{% include footer.html %}
